{% extends "base.html" %}
{% block title%}Dashboard{% endblock %}
{% load staticfiles %}

{% block content%}
<script src="{% static 'dashboard.js' %}"></script>
<script src="{% static 'dateformat.js' %}"></script>
<h1>Live phones</h1>
<div id="phonediv">
    <ul id="phone_list">
    {% if live_phones %}
        {% for phone in live_phones %}
            <li id = {{phone.phone.imsi}}><a href="phone/{{phone.phone.imsi}}">{{phone}}</a></li>
        {% endfor %}
        {% endif %}
    </ul>
    {% if not live_phones %}
        <p id="no_phones">No phones connected</p>
    {% endif %}
</div>
<h1>Last 25 logs</h1>
    <div id="logdiv">
    {% for log in logs %}
        <span class="log-item">{{log.imsi}}->{{log.field}}:{{log.value}} @ {{log.timestamp|date:'M d, o, H:i:s'}}<br></span>
    {% endfor %}
    </div>
{% endblock %}