{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Phone detail {% endblock %}
{% block content %}
<script src="{% static 'singlePhone.js' %}"></script>
{% if not phone %}
<p>no phone</p>
{% endif %}
    {% for field,value in phone.get_fields %}
    <span>{{field}}:</span>
    <span id = {{field}}> {{value}}</span><br>
    {% endfor %}
<input type="text" id="command">
<button type="button" id="commandBtn">Send</button>
<span>Command result:</span>
<span id="cmd-result"></span>
{% endblock %}